@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'AppleSDGothicNeo';
  src: url(../fonts/AppleSDGothicNeo/AppleSDGothicNeoH.ttf);
  font-weight: 900;
}

@font-face {
  font-family: 'AppleSDGothicNeo';
  src: url(../fonts/AppleSDGothicNeo/AppleSDGothicNeoEB.ttf);
  font-weight: 800;
}

@font-face {
  font-family: 'AppleSDGothicNeo';
  src: url(../fonts/AppleSDGothicNeo/AppleSDGothicNeoB.ttf);
  font-weight: 700;
}

@font-face {
  font-family: 'AppleSDGothicNeo';
  src: url(../fonts/AppleSDGothicNeo/AppleSDGothicNeoSB.ttf);
  font-weight: 600;
}

@font-face {
  font-family: 'AppleSDGothicNeo';
  src: url(../fonts/AppleSDGothicNeo/AppleSDGothicNeoM.ttf);
  font-weight: 500;
}

@font-face {
  font-family: 'AppleSDGothicNeo';
  src: url(../fonts/AppleSDGothicNeo/AppleSDGothicNeoR.ttf);
  font-weight: 400;
}

@font-face {
  font-family: 'AppleSDGothicNeo';
  src: url(../fonts/AppleSDGothicNeo/AppleSDGothicNeoL.ttf);
  font-weight: 300;
}

@font-face {
  font-family: 'AppleSDGothicNeo';
  src: url(../fonts/AppleSDGothicNeo/AppleSDGothicNeoUL.ttf);
  font-weight: 200;
}

@font-face {
  font-family: 'AppleSDGothicNeo';
  src: url(../fonts/AppleSDGothicNeo/AppleSDGothicNeoT.ttf);
  font-weight: 100;
}

html {
  font-family: 'AppleSDGothicNeo';
}

.transparent {
  transform: translateY(-100%);
}
