@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'AppleSDGothicNeo';
  src: url(../assets/fonts/AppleSDGothicNeoH.ttf);
  font-weight: 900;
  unicode-range: U+0000-024F, U+AC00-D7AF;
}

@font-face {
  font-family: 'AppleSDGothicNeo';
  src: url(../assets/fonts/AppleSDGothicNeoEB.ttf);
  font-weight: 800;
  unicode-range: U+0000-024F, U+AC00-D7AF;
}

@font-face {
  font-family: 'AppleSDGothicNeo';
  src: url(../assets/fonts/AppleSDGothicNeoB.ttf);
  font-weight: 700;
  unicode-range: U+0000-024F, U+AC00-D7AF;
}

@font-face {
  font-family: 'AppleSDGothicNeo';
  src: url(../assets/fonts/AppleSDGothicNeoSB.ttf);
  font-weight: 600;
  unicode-range: U+0000-024F, U+AC00-D7AF;
}

@font-face {
  font-family: 'AppleSDGothicNeo';
  src: url(../assets/fonts/AppleSDGothicNeoM.ttf);
  font-weight: 500;
  unicode-range: U+0000-024F, U+AC00-D7AF;
}

@font-face {
  font-family: 'AppleSDGothicNeo';
  src: url(../assets/fonts/AppleSDGothicNeoR.ttf);
  font-weight: 400;
  unicode-range: U+0000-024F, U+AC00-D7AF;
}

@font-face {
  font-family: 'AppleSDGothicNeo';
  src: url(../assets/fonts/AppleSDGothicNeoL.ttf);
  font-weight: 300;
  unicode-range: U+0000-024F, U+AC00-D7AF;
}

@font-face {
  font-family: 'AppleSDGothicNeo';
  src: url(../assets/fonts/AppleSDGothicNeoUL.ttf);
  font-weight: 200;
  unicode-range: U+0000-024F, U+AC00-D7AF;
}

@font-face {
  font-family: 'AppleSDGothicNeo';
  src: url(../assets/fonts/AppleSDGothicNeoT.ttf);
  font-weight: 100;
  unicode-range: U+0000-024F, U+AC00-D7AF;
}

@font-face {
  font-family: 'Noto Sans SC';
  src: url('https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@100;300;400;500;700;900&display=swap');
  unicode-range: U+2E80-2EFF, U+4E00-9FFF;
}

html {
  font-family: 'AppleSDGothicNeo', sans-serif;
  scroll-behavior: smooth;
}

.transparent {
  transform: translateY(-100%);
}

.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 18px;
  font-size: 22px;
  font-weight: bold;
  color: #fff;
}

.swiper-button-prev {
  /* color: #cbd5e1 !important; */
  transform: translateX(-100px);
}

.swiper-button-next {
  /* color: #cbd5e1 !important; */
  transform: translateX(100px);
}
